@charset "utf-8";

header {
    display: flex;
    flex-direction: column;
    border-top: 20px solid #003893;
    background-color: #024DC2;
}

.LogoLogIn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.LogoLogIn a:hover{
    text-decoration: underline;
    color: rgb(111, 2, 212)
}
.logo {
    width: 22%;
    height: 9%;
    max-width: 252;
    max-height: 57;
    display: block;
}

.tab {
    padding: 10px;
}

.tab a {
    color: rgb(202, 220, 0);
    text-decoration: none;
    font-size: 16px;
}

nav {
    background-color: #003893;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid #002766;
    
}
nav a {
/*     display: inline-block;
 */    
    padding: 3px 5%;
    color: rgb(202, 220, 0);
    text-decoration: none;
    font-size: 18px;
}
nav a:hover{
    position: relative;
    right: 3px;
    bottom: 2px;
    background-color: #013180;
    color: rgb(132, 0, 255);
    font-weight:550;
    text-shadow: 2px 1px 0 rgb(63, 0, 122) ;

}
