@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #e2eaf8;
	margin: 0;
	padding: 0;
	color: #000;
}

.SecondNav{
	background-color: #003893;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid #002766;
 }
.SecondNav a{
	color: rgb(202, 220, 0);
    text-decoration: none;
    font-size: 18px;
}
 