@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #e2eaf8;
	margin: 0;
	padding: 0;
	color: #000;
}

img.logo {
	width : 22%;
	height : 9%;
	max-width: 252;
	max-height: 57;
	background: #e2eaf8;
	display:block;
}